*.log

# We ignore all subversion directories underneath test and vendor
.svn
vendor/*/.svn
test/*/.svn

# ignore osx dsstore files
.DS_Store

tmp/*

*.db

database.yml
recaptcha.yml

db/*.sqlite3

config/ultrasphinx/*.conf
