
#header {
  height: 120px;
}

#title {
  font-size: 200%;
  color: #998273;
  padding: 30px 0 0 40px;
}

#content {
  background-color: #fff;
  color: #2E1708;
  position: relative;
  margin: -2px 40px 10px 40px;
  border-bottom: 3px solid #186378;
}


#main-content {
 background-color: #fff;	
 margin-top: -20px;
 padding-bottom: 20px;
}

#main-content>h2 {
  margin-top: 0;
}

#breadcrumb {
  height: 25px;
  width: 516px;
  bottom: 63px;
}

#top {
	position: relative;
  right: 20px;
	top: 8px;
}

#search {
  position: relative;
  bottom: 35px;
  right: 12px;
  color: #A7CC36;
}


#searchbox {
  float: none;
  height: 0;
  position: relative;
  left: 560px;
}

.fr, .fl {
  z-index: 9999;
  float: none;
  position: fixed;
}

#category-list {
  width: 66%;
}

.wrapper {
  float: none !important;
  position: fixed;
  z-index: 9999;
}

#sidebar {
  display: none;
}

#topic {
  width: auto;
}

#comments-table {
  width: auto;
  margin: 0;
}

table#search-results {
  width: auto;
}

.author-img {
  padding-left: 15px;
}

#comment-wrap {
  width: 900px;
}

#formatting-guide {
  position: relative;
  left: 10px;
  top: 10px;
}

#formatting-guide table * {
  width: 100px;
}

#formatting-guide table {
  color: #333;
  font-size: 95%;
}

#flash {
  position: absolute;
}

#administration {
  position: static;
}