/* GENERAL CSS DEFINITIONS */
body{margin:0;padding:0;font:1em/1.3em Trebuchet MS,Trebuchet,Lucida Grande,Arial,sans-serif;font-size:14px;font-weight:normal;background:#1F819D url('/images/bg.gif') top left repeat-x;color:#999;}
a img,:link img,:active img,:visited img,:hover img{border:none;}
a:link,a:visited,a:active{color:#1F819D;}
a:hover{color:#2E1708;}
dl{padding:0;margin:10px 0;}
dt{padding:0;margin:4px 0;font-size:120%;}
dt .hint{font-size:80%;color:#999;}
dd{padding:0;margin:0;}
blockquote{border-left:4px solid #9E9D9C;line-height:22px;font-style:italic;color:#9E9D9C;padding:0px 15px 0px 15px;margin:5px 0px;}
.clear{clear:both;}
.l{text-align:left;}
.c{text-align:center;}
.r{text-align:right;}
.fl{float:left;}
.fr{float:right;}
.sr{margin-right:10px;}
.sb{margin-bottom:10px;}
pre{padding:5px;background:#eee;color:#000;border:1px solid #ccc;}
* html pre{white-space:nowrap;overflow-x:auto;padding-bottom:expression(this.scrollWidth > this.offsetWidth ? 19 :4);width:800px;}
html>body pre{overflow:auto;}

/* LAYOUT */
#header{background:#2E1708;height:120px;}
#title{font-size:200%;color:#998273;padding:30px 0 0 40px;}
#content{background-color:#fff;color:#2E1708;position:relative;margin:0px 40px 10px 40px;border-bottom:3px solid #186378;min-height:600px;min-width:880px;}
#main-content{background-color:#fff;padding-bottom:20px;min-width:880px;}
#main-content>h2{margin-top:0;}
#breadcrumb{background:#fff url('/images/breadcrumb-bg.gif') top left no-repeat;height:25px;width:505px;position:relative;bottom:37px;padding:7px;font-size:90%;}
#top{position:relative;right:20px;top:8px;font-size:90%;color:#fff;height:20px;text-align:right;}
#search{position:relative;bottom:35px;right:12px;color:#A7CC36;}
#search span{margin-left:12px;}
#searchbox{float:right;padding-top:2px;margin-bottom:-12px;}
#searchbox input[type=text]{color:#555;}
#flash{width:100%;position:fixed;*position:absolute;bottom:0px;left:0px;color:#fff;background:#000;z-index:9999;-moz-opacity:0.8;opacity:.80;filter:alpha(opacity=80);}
#flash ul{list-style-type:none;}
#pagination{margin:10px 0;}
#pagination a{padding:2px 4px;margin:0 2px;border:1px solid #eee;}
#sidebar{margin-left:740px;padding-right:20px;}
#sidebar>h4{margin:20px 0 0 0;color:#999;border-bottom:1px solid #ddd;}
#sidebar #formatting-guide,#sidebar #formatting-guide h4{margin-top:0;}
#footer{color:#fff;}

/* TOOLS CLASSES */
textarea.less{width:100%;height:250px;}
textarea.more{width:100%;height:500px;}
strong.highlight{color:#666;}
.subtitle{font-size:95%;}
.small{font-size:85%;}
.blue{color:#1F819D;}
.grey{color:#666;}
.no-decoration a{text-decoration:none;}
.orange-link a:link,.orange-link a:visited,.orange-link a:active{color:#CC6600;}
.orange-link a:hover{color:#993300;}
.green-link a:link,.green-link a:visited,.green-link a:active{color:#A7CC36;}
.green-link a:hover{color:#C7EE56;}
.white-link a:link,.white-link a:visited,.white-link a:active{color:#fff;}
.white-link a:hover{background-color:#fff;color:#1F819D;}
.shadow a:link,.shadow a:visited,.shadow a:active,.shadow a:hover{text-shadow:2px 2px 1px #333;}
a.active{color:#2E1708;}
.wrapper{margin:0 20px;overflow:hidden;clear:both;}
.wrapper h2{margin-top:0;}
table.data{font-size:90%;}
table.data th{background-color:#2E1708;color:#fff;font-weight:normal;padding:2px 8px;}
table.data td{padding:2px 8px;}
table.data tr.even td{background-color:#EDF7F9;}
table.data tr.odd td{background-color:#FFF;}
.feed-link{margin-bottom:10px;}
.sig{color:#9E9D9C;}
#page-nav{padding-top:5px;margin:20px;}
#login-content{width:480px;margin:0px auto;background-color:#fff;padding-bottom:20px;}
#spinner{float:right;position:relative;right:20px;bottom:10px;width:20px;height:20px;background:url('/images/spinner.gif') top right no-repeat;}
/* ACCOUNTS */
#account-head{padding-left:25px;}
#account-title{}
.account{padding-left:25px;}
#user-details{margin:25px;}
#user-details .image{border:1px solid #666;padding:3px;width:40px !important;height:40px !important;background-color:#fff;}
#user-details dt{color:#222;margin-top:10px;}
#user-details dd{color:#888;}
#gravatar-explanation{margin:0 25px;}
#user-list{width:80%;padding:0 0 0 10px;list-style-type:none;}
#user-list a{margin:0 5px 0 10px;}
#user-list .even{background:#F7F4F3;}

/* TOPICS */
#topic-list{width:700px;}
td.topic-sticky{padding-left:23px !important;background:url('/images/sticky.gif') center left no-repeat;}
td.topic-closed{padding-left:23px !important;background:url('/images/closed.gif') center left no-repeat;}

/* POSTS */
#post{width:600px;}
#topic{padding:10px 15px;width:100%;}
#topic-head h2{color:#A7CC36;font-weight:normal;font-size:175%;margin:0 12px;}
#topic-body{padding-top:2px;}
#comments-table{padding:15px 0px 0px 0px;background:#F7F5F4 url('/images/comment-shade.gif') top center no-repeat;width:100%;}
.images img{border:1px solid #ccc;padding:5px;margin:7px;}
.author-img{text-align:left;padding:0;width:50px;}
.user-img{width:40px;height:40px;background:#fff;margin:7px 5px;float:left;border-top:1px solid #999;border-left:1px solid #999;border-right:1px solid #ccc;border-bottom:1px solid #ccc;background:url(/images/no-gravatar.jpg);}
.admin .user-img{background:url(/images/admin-no-gravatar.jpg);}
.author-img .user-img{margin:0;}
.author-details{text-align:left;padding-top:10px;}
.author-details p{margin:9px 12px;font-size:90%;}
.comment-author-box{border-left:1px solid #E5E3E2;color:#1F819D;margin-top:5px;}
.comment-author-details{vertical-align:top;width:201px;}
.comment-author-details h3{font-weight:normal;font-size:125%;margin:0;padding-top:10px;}
.comment-author-details h3 a{color:#000;}
.comment-author-details p{font-size:90%;margin:4px 0;padding-bottom:4px;}
.comment-author-info{padding-left:55px;}
.comment-author-info p{margin-bottom:0;padding-bottom:0;}
.comment td{padding-top:3px;border-bottom:1px dotted #998273;}
.comment-body{padding:0 15px;}
#comments{padding:20px;}
#post-comment{float:left;}
#formatting-guide{margin:20px 0px 20px 7px;font-size:90%;}
#formatting-guide h4{margin:10px 0;}
#formatting-guide th{border-bottom:1px solid #D7D5D4;}
#formatting-guide td{border-bottom:1px solid #F7F5F4;padding:4px 20px 4px 0;}
#comment-wrap{padding-left:10px;width:797px;margin:0 auto;background:#f7f5f4;overflow:hidden;border:1px solid #ccc;}
#login-notification{width:600px;margin:20px auto;border:1px solid #998273;padding:15px;background:#F7F5F4;}
#preview h3{margin:0 0 5px 0;}
#preview-body{margin-bottom:15px;min-height:20px;padding:0 7px;border:1px solid #DED397;background-color:#FAFAEB;}
/* PREFERENCES */

/* CATEGORIES */

#add-category{padding-bottom:20px;}
#category-list{width:100%;}
.category h4{margin:0 8px 0 0;font-weight:normal;font-size:110%;}
.recent-activity-list{padding:0;}
.recent-activity-list .odd td{background:#eee;}
.recent-activity-list td.date{background:#fff;}
.recent-activity-list td{padding:1px 5px 1px 5px;}
.recent-activity-list h5{margin:3px 0;font-weight:normal;}
/* FORUMS */
#forum-list{padding:0;margin:15px 0 40px 0;width:600px;border-bottom:1px solid #ccc;}
#forum-list td{padding:8px 5px;margin:15px 0;border-top:1px solid #eee;}
.forum-body{margin:10px 0;}
/* ADMIN */
#administration{position:fixed;bottom:0px;left:0px;right:0px;background:#163B61;border-top:2px solid #0F2236;color:#fff;height:44px;}
#administration h3{float:left;margin:15px 10px 4px 8px;padding:0;text-shadow:2px 2px 1px #333;}
#administration div{margin:16px 5px 2px 5px;float:left;}
#administration a{font-size:90%;color:#81AFDF;text-decoration:underline;}
#administration a:hover{border:none;color:#fff;}
ul.user-list{list-style-type:none;padding:0;clear:left;}
ul.user-list .user{float:left;margin:10px;width:250px;height:70px;border:1px solid #eee;}
ul.user-list h3{margin:6px 0 3px 5px;font-size:110%;}
ul.user-list p{margin-top:5px;}
.admin-heading{padding-top:15px;border-top:1px dotted #ddd;}
/* SEARCH RESULTS */
table#search-results{width:100%;}
table#search-results th{padding:3px 5px;text-align:left;}
table#search-results td{padding:3px 5px;}
table#search-results .odd{background:#F7F4F3;}
td.search-preview{color:#999;font-style:italic;}
/* DIALOGS */
#dialog-overlay{position:absolute;top:0;left:0;width:100%;height:100%;z-index:5000;background-color:#000;-moz-opacity:0.8;opacity:.80;filter:alpha(opacity=80);}
#dialog-overlay[id]{position:fixed;}
#dialog-content{padding:20px;position:fixed;text-align:left;background:#fff;border:5px solid #222;top:50%;left:50%;z-index:9999;}
.category-edit{width:400px;height:350px;margin:-175px -200px;}
.category-edit h4{margin:0;}
.category-edit textarea{width:390px;margin:10px auto;}
.create-user{width:400px;height:450px;margin:-225px -200px;}
