/* If you mess up this stylesheet I will put your MBP in the microwave. On the popcorn setting. */

/* SWATCHES 
#333333 - [dark grey] body text
#7c7c7c - [ grey] h1
#d9d9d9 - [light grey] hr

#3084ca - [blue] link colour
#78b9e7 - [ dark blue ] hover link

*/

/* =============== */
/* = Global CSS = */
/* =============== */

* {margin:0; padding:0; }

html, body {height: 100%;} /* sticky footer */

body{ background:#FFF url('../images/support/bg-body.gif') repeat-x; font-family: 'Lucida Grande', 'Lucida Sans Unicode',sans-serif; font-size:12.5px; color:#434343;margin:0; }

h1, h2, h3, h4, h5, h6 {font-family:'Lucida Grande', 'Lucida Sans Unicode'; font-weight:normal;color:#000;}

h1  {  font-weight: 800;font-size:62px; color:#7c7c7c; letter-spacing:-1px;float:left; line-height:normal;}
h2 {font-size:28px; margin: 0 0 10px;  }
h3 {font-size:19px; margin:0 0 5px; font-weight:bold;}
h4 {font-size:14px; margin:0 0 5px; font-weight:bold;}

input {margin:0 0 10px 0;}
p {line-height:18px; margin:0 0 13px 0; }
ul { margin:0px 0 20px 0px; padding:0 0 0 15px; }
ol { margin:0px 0 20px 0px; padding:0 0 0 22px; }
dl { margin:0px 0 20px 0px; padding:0 0 0 0px; }
li {  margin:0 0px 10px 0; padding:0 0 0 0 0px; }
a {color:#3084ca; text-decoration:none;  }
a:hover { color: #78b9e7; text-decoration:underline; }
img { border: none; }

big { font-size:130%;}
blockquote{border-left:4px solid #9E9D9C;line-height:22px; font-size:13.5px; font-style:italic;color:#9E9D9C; padding:0px 15px 0px 15px; margin:0 0 10px 0px; font-family:georgia, 'times new roman', serif; }
blockquote p { margin-bottom:0;}

pre { background:#fff8c8; color:#44410f;font-family: 'Consolas', 'Monaco', Courier, monospace; margin:0; overflow:auto;display:block; padding:11px; margin-bottom:13px; }
code { background:#fff8c8 ; color:#44410f;font-family: 'Consolas', 'Monaco', Courier, monospace; margin:0; overflow:auto;display:block; padding:11px; margin-bottom:13px; }

form  { margin: 0 0 15px 0; padding:5px 15px 10px 15px; background:#efefef; border:1px solid #d9d9d9;-moz-border-radius: 5px;-webkit-border-radius: 5px; }/*used for contact.html*/
form label {display:block; font-size:12px; margin:15px 0 7px 0;color:#000; font-weight:bold;}
form textarea {width:98%; font-family:helvetica, arial, sans-serif; padding:5px; font-size:14px; margin-bottom:15px;}
form select {font-size:13px; padding:1px;margin:4px 0 10px 0}
form input[type="text"], form input[type="password"] { padding:3px; font-size:14px;}
form input[type="image"] {margin:10px 0 0 0;}
p.submit input { display:inline; vertical-align:middle; margin:0; padding:0; } 


.warning { background:#fbd8db; border:1px solid #ffbbc0; text-align:center; padding:5px; color:#ff6f6f; margin: 10px auto; width:500px;}
.warning p { margin:0 0 5px; }
.warning-wrapper { width:925px;}

.warning-notification { background: url('../images/forums/icon-warningcommenttriangle.gif') no-repeat 10px top ; color:#FFF; width:500px; margin:0 auto; padding-top:9px;}
.warning-notification p { background:#b9342d; padding:12px; text-align:center;}
.warning-notification a { font-weight:bold; color:#fff; font-size:15px; text-decoration:underline; }
.warning-notification a:hover { text-decoration:none; color:#ffc7c4;}
.errorExplanation { color:#fff; background:#b9342d; padding:9px 9px 1px 9px; margin-bottom:15px;}
.errorExplanation h2 { font-size:13px; font-weight:bold; color:#fff;}


.strong { font-weight:bold!important; }
.text-right { text-align:right;}
.text-center { text-align:center;}
/* the grid */
.col-1, .col-2, .col-3, .col-4, .col-4-5, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12 {margin-right:35px; float:left;}
.col-12 { margin-right:0px;}

.col-12 {width:925px;}
.col-11 {width:845px;}
.col-10 {width:765px;}
.col-9 {width:685px;}
.col-8 { width:605px;}
.col-7 {width:525px;}
.col-6 {width:445px;}
.col-5 {width:365px;}
.col-4-5 {width:307px;}
.col-4 {width:285px;}
.col-3 {width:205px;}
.col-2 {width:125px;}
.col-1 {width:45px;}

.last {margin-right:0 !important;}

.margin-bottom {margin-bottom:10px; }

.left{float:left;}
.right{float:right!important;}
.clear {clear:both;}
.clearfix:after{content:".";display:block;height:0;clear:both;visibility:hidden; }

hr {color:#d9d9d9; background:#d9d9d9;border:0px; height:1px;margin-bottom:25px;clear:both;}

/* ========== */
/* = Layout = */
/* ========== */

.content { width:925px; margin: 0 auto; display: block; padding:0 35px;  }
.content:after {content:"\0020";display:block;height:0;clear:both;visibility:hidden;overflow:hidden;}
.support-container { background: url('../images/support/bg-content-papershadow.gif') no-repeat; padding-top:30px  }
.support-container-mini { background: url('../images/support/bg-content-papershadow-mini.gif') no-repeat; padding-top:30px; width:320px; }
.support-container-mini h1 { font-size:25px; margin-bottom:10px; text-align:center; float:none; border-bottom:1px solid #d9d9d9; padding-bottom:10px;}
.masthead { margin:0 0 20px 0; }
.masthead-wrapper  { border-bottom:1px solid #d9d9d9; padding:0 0 5px 0; margin:0 0 15px 0;  }
#wrapper {min-height:100%; height:auto !important;height:100%;margin:0 auto -330px;/* neg val of footer height*/}
.masthead-wrapper h1 a { color:gray; }

/*primary nav*/
.support-nav { height: 54px; padding:0 0 40px 0; }
.support-nav img { float:left; }
.support-nav ul { margin:0px 0 0 0; padding:0; float:right;  }
.support-nav li { float:left;  padding:19px 10px 20px 10px; list-style:none; line-height:15px; }
.support-nav li a { color:#DDD; }
.support-nav li a:hover { color:#72b700; }
.support-nav li.current { background:url('../images/support/bg-activelink-header.gif'); }
.support-nav li.current a:hover { color:#FFF; }
.support-nav li.back-to-shopify a { padding-right: 24px; color:#999;}
.support-nav li.back-to-shopify a:hover { color:#Fff;}

.highlight { background:#fff8c8; padding:0 5px 0 5px;}
.light { color:#BBBBBB;}


/* footer */
#footer,#push { clear:both;/* .push must be the same height as .footer */ }
#push {height: 330px;}

#footer-wrapper { padding:20px 0 0 0; width:925px; margin:auto;}
#footer { background:#111; height: 280px; margin-top:50px; color: #666;  font-size: 11.5px; }
#footer h3 { color: #fff; border-bottom: 1px solid #444; margin-bottom: 10px; padding:0 0 5px 0; font-size: 13px; font-weight:normal;}
#footer a { color: #777 }
#footer a:hover { color: #cdcdcd;  }
#footer ul { list-style-type: none; margin: 0 0 20px 0; padding: 0; }
#footer ul li { margin-bottom:5px; font-size:11.5px; background:none; padding:0; list-style:none; }
#footer ul li a { color:#999;  }
#footer ul li a:hover { color:#3084ca; }

#footer .content { margin-top:20px; }
#footer .copyright { margin-top:20px; text-align:center; }

#footer .contact-us img { margin-right:4px;}
#footer .contact-us li { margin-bottom:7px; list-style:none; }
#footer .contact-us, #footer .contact-us a  { color: #cdcdcd; }
#footer .contact-us * { vertical-align: middle; }
#footer .contact-us a:hover { }

#footer  #copyright { text-align: center; font-size: 11px; color: #666; margin: 15px 0 10px 0; }

/* ========== */
/* = Forums = */
/* ========== */

/* classes that apply to all pages */
.forum-sidebar { margin:0px 0 30px 0; }
.forum-sidebar .sidebar-block { border-bottom:1px solid #d9d9d9; margin:0 0 15px 0;}
.forum-sidebar .rss a { color:#fd9500; }

.login-area { float:right; margin: 20px 0 0 0; color:#8f8f8f; font-size:14px; width:365px; } 

.masthead .search {  padding:0 0 15px 0;width:244px; float:right; margin:0px 0 0 0;}
.masthead .search form { padding:0; margin:0; background:transparent; border:0px; width:;}
.masthead .search input { margin:0; }
.masthead .search input[type=text] { padding:1px 1px; width:178px; float:left; font-size:12px;}
.masthead .search input[type=image] { padding:0; margin:0 0 0 5px; float:left}

ul.forum-navigation-home { margin:0px 0 0px 0 ; padding:0 0 25px 0; }
ul.forum-navigation-home li {list-style:none; margin:0 0 15px 0;  padding:0 0 15px 0px; clear:both; border-bottom:1px solid #d9d9d9; }
ul.forum-navigation-home li em { display:block; font-size:12px; color:#7c7c7c; font-style:normal;}
ul.forum-navigation-home li a { display:block; font-size:15px; padding:0 0 0 45px; }
ul.forum-navigation-home li a:hover {text-decoration:none; background-position:-10px -20px}

ul.forum-navigation-home li a.general { background:url('../images/forums/icon-general.gif') top left no-repeat; }
ul.forum-navigation-home li a.design { background:url('../images/forums/icon-design.gif') top left no-repeat; }
ul.forum-navigation-home li a.offtopic { background:url('../images/forums/icon-offtopic.gif') top left no-repeat; }
ul.forum-navigation-home li a.jobboard { background:url('../images/forums/icon-jobboard.gif') top left no-repeat; }
ul.forum-navigation-home li a.developers { background:url('../images/forums/icon-developers.gif') top left no-repeat; }
ul.forum-navigation-home li a.shopifyadvisorycouncil { background:url('../images/forums/icon-shopifyadvisorycouncil.gif') top left no-repeat; }
ul.forum-navigation-home li a.justlaunched { background:url('../images/forums/icon-justlaunched.gif') top left no-repeat; }
ul.forum-navigation-home li a.developers { background:url('../images/forums/icon-developers.gif') top left no-repeat; }
ul.forum-navigation-home li a.marketing { background:url('../images/forums/icon-marketing.gif') top left no-repeat; }
ul.forum-navigation-home li a:hover { background-position:0px -64px; }
ul.forum-navigation-home li a:active,ul.forum-navigation-home li a:focus { background-position:0px -64px; outline:none; color:#78b9e7; }

.content .forum-navigation-home .admin { display:inline; float:right; margin-top:-25px; font-size:12px; color:#d9d9d9;}
.content .forum-navigation-home .admin a { display:inline; padding:0;font-size:12px; }

.forum-navigation  {  } /* uses the small icons */
.forum-navigation ul { margin:0 ; padding:0 0 10px 0; }
.forum-navigation ul li {list-style:none; margin:0 0 10px 0; padding:0; }
.forum-navigation img {display:inline; vertical-align:-5px; margin:0 4px 0 0;}

.new-topic { margin-bottom:15px; float:left;}

.pagination { color:#7c7c7c; text-align:right;}
.pagination a { background:#e4f3ff; padding:2px 3px; border: 1px solid #b3ddff; margin:0 1px 0 0;font-weight:bold;  }

/* login/register forms */
.mini-form { margin-bottom:20px; }
.mini-form p { margin-bottom:8px; }
.mini-form p label { display:inline; font-weight:normal; padding-left:4px; vertical-align:middle; }
.mini-form p.submit input { display:inline; vertical-align:middle; margin:0; padding:0; } 
.mini-form p.submit  { margin-top:14px; } 
.mini-form input[type="checkbox"] { vertical-align:middle;}
.mini-form .hint { text-transform:uppercase; color:gray; font-size:10px; }
.mini-form .forgot-password { text-align:right; margin-top:-9px; font-size:10px;}

/* home view */ 
table.recent-activity { font-size:12px; margin-top:15px;} /* only shows up if user is a mod */
table.recent-activity p { display:inline; vertical-align:middle;}
table.recent-activity td {padding:9px 9px;}
table.recent-activity td.date { color:#BBBBBB; } 
table.recent-activity .odd { background:#f2f2f2; }

/* subforum view */
table.table-of-threads { width:100%; border-collapse: collapse; margin:0 0 30px 0; }

table.table-of-threads th { background:#7c7c7c; color:#d3d3d3; text-align:left; border-bottom:1px solid #FFF;  padding:5px 20px 5px 40px; }
table.table-of-threads td { background: #f2f2f2; padding:7px 20px 7px 40px; border-bottom:1px solid #d9d9d9;}
table.table-of-threads .topic-sticky td { background:#fff8c8; }
table.table-of-threads .topic-sticky a:visited { color:#3084ca;}
table.table-of-threads td.topic-icon-sticky { background:#fff8c8 url('../images/forums/icon-sticky.gif') 10px center no-repeat; }
table.table-of-threads td.topic-icon-closed { background:#f2f2f2 url('../images/forums/icon-closed.gif') 10px center no-repeat; }
table.table-of-threads td a { display:inline; }
table.table-of-threads td a:visited { color:#004d8b;}

table.table-of-threads td em { display:block;}

/*table.table-of-threads tr.even td { background: transparent }*/
table.table-of-threads td.center { text-align:center; }
table.table-of-threads td.sticky { background-color:#fff8c8;}
table.table-of-threads td.sticky a { color:#948100;}
table.table-of-threads td.sticky a:hover { color:#2b2500; text-decoration:underline;}

/* single post view */
ul.forum-breadcrumbs { padding:0; margin:4px 0 0 0; float:left; width:660px; }
ul.forum-breadcrumbs li { float:left; padding:0 0 0 13px ; margin:0 9px 0 0; text-transform: uppercase; background:url('../images/support/icon-breadcrumbs.gif') no-repeat left center; list-style:none; }
ul.forum-breadcrumbs li.home { background:none; padding:0 0 0 0px;}
ul.forum-breadcrumbs li.home a {  padding:0 0 0 13px; background:url('../images/forums/icon-home.gif') no-repeat 0 3px;}
ul.forum-breadcrumbs li.home a:hover {background-position: 0 -22px;}
ul.forum-breadcrumbs li.last a { color:#7c7c7c;}

.singleview .date {   background:#7c7c7c; color:#d3d3d3; text-transform:uppercase; font-size:10.5px; padding: 1px 7px;  }

.singleview .date p { margin-bottom:0px;}
.singleview .post h3 { font-size:14px; color:#434343;}
.singleview .post h4 { font-size:14px; color:#434343;}
.singleview .post h5 { font-size:14px; color:#434343;}
.singleview .author { background:#ededed ; padding:7px 7px; margin:0 0 15px 0 ;}
.singleview .author:after{content:".";display:block;height:0;clear:both;visibility:hidden; } 
.singleview .author .details img { float:left; margin-right:10px; }
.singleview .author .details a { display:inline; font-size:15.5px; font-weight:bold; }
.singleview .author .details em { display:block; font-style: normal; font-size:11px; color:#5e5e5e;}
.singleview h2 { font-size:16px; border-bottom:1px solid #d9d9d9; margin:0 0 10px 0; font-weight:bold;}
.singleview .author .admin { float:right; margin-top:12px; }
.singleview .sig { border-top:1px dashed #d9d9d9; padding-top:5px; margin:3px 0 30px ; color:#8F8F8F;}
.singleview .sig a { color: #8F8F8F; text-decoration:underline; font-weight:bold;}
.singleview .sig a:hover { color: #78b9e7; text-decoration:none;}

.singleview .edited { font-weight:bold; font-size:10.5px; text-transform:uppercase; color:#8f8f8f; margin:10px 0 4px 0;}
.singleview a.reply { background: url('../images/forums/icon-reply.png') no-repeat  left; padding:0 0 0 15px;} 

.singleview .attached-images { margin-bottom:15px; }
.singleview .attached-images img { vertical-align:middle; margin:0 15px 15px 0;border: 2px solid #3084ca; padding:5px; display:relative; z-index:2;}
.singleview .attached-images img:hover {  border: 2px dashed #78b9e7; }
#image_uploaded_data { margin-right:10px;}

#write-comment { border-top:1px solid #d9d9d9; padding-top:20px; margin-top:20px;}
#write-comment h3 { margin:0 0 -8px 0; }
#write-comment form { background:transparent; border:0px; padding:0; margin:0; }
#write-comment form label { color:#7c7c7c; font-weight:normal; }
#write-comment form textarea { height:200px; margin-bottom:7px;}
.submit-comment input[type=image] { display:inline; vertical-align:-20px; margin-right:5px;  }
#write-comment .attach-file { margin-top:-15px;}
#write-comment .attach-file .icon { background:url('../images/forums/icon-attachfile.png') no-repeat left center ; padding:0 0 0 15px;}
#write-comment .attach-file p { margin-top:3px;}

#comments-table { margin-bottom:25px; }

/*user list*/
ul#user-list { margin:0; padding:0; width:110%;}
ul#user-list li { padding:0; width:185px; margin:0 15px 8px 0; float:left; list-style-type:none; }

ul.admin-list { margin:0; padding:0; width:110%;}
ul.admin-list li { padding:0; width:185px; margin:0 15px 8px 0; float:left; list-style-type:none; }

#user-details .essentials img { float:left; margin-right:7px;}
#user-details .essentials h2 { padding:0; margin:0; }
#user-details .essentials p { margin-top:-4px; margin-bottom:0;}
#user-details .essentials { border-bottom:1px solid #d9d9d9; padding-bottom:8px; margin-bottom:20px;}

#user-details .supplementary { margin-bottom:20px;}
#user-details .supplementary dl.user-stats { }
#user-details .supplementary dl.user-stats dt { font-weight:bold; color:#000; }
#user-details .supplementary dl.user-stats dd { margin-bottom:10px;}

#user-details p.admin { border-top:1px solid #d9d9d9; padding-top:3px; margin-top:3px;}

.admin-list .user-img {float:left; margin-right:10px;}
.admin-list .user-info a { display:block;}

/* indv. user profile */
#user-title-edit { margin:5px 0 0 47px; }
#user-title-edit form { padding-top:10px; padding-bottom:0px; margin:0 0 0 0;}

/* dialogue animations */
#flash{width:100%;position:fixed;*position:absolute;bottom:0px;left:0px;color:#FFF;background:#3ba3cc;z-index:9999;-moz-opacity:0.95;opacity:.95;filter:alpha(opacity=95); text-align:center; font-size:16px;font-weight:bold;}
#flash ul{list-style-type:none; margin:0; padding:20px 0 7px 0; }
#flash #flash-notice {  }

/* sphinx */
.advanced-search form { padding: 15px 15px 5px 15px;}
.advanced-search input[type="text"], .advanced-search select { margin:0 0 7px 0 }
.advanced-search input[type="image"] { margin:5px 0 7px 0 }
.advanced-search label { margin:0 0 4px 0; }

table#search-results { margin-bottom:15px;}
table#search-results big { margin:0 0 2px 0; font-weight:bold; display:block; }
table#search-results p.details { display:block; text-transform:uppercase; font-size:11px; color:#7c7c7c; margin:0 0 3px 0;}
table#search-results strong { background:#fff8c8; padding:0 3px ;}


