<% title h(@user_details.name) %>

<% crumb "Home", index_url %>
<% crumb 'Userlist', {:controller => 'users', :action => 'list'} %>
<% crumb h(@user_details.name), {:controller => 'users', :action => 'show', :id => @user_details}, :class => 'active' %>

<% if admin? %>
  <div><%= link_to image_tag('/images/deprecated/trash.gif'), {:controller => 'accounts', :action => 'destroy', :id => @user_details.id}, :confirm => "Are you sure you want to delete user #{h @user_details.name}" %> <%= link_to 'delete this user', {:controller => 'accounts', :action => 'destroy', :id => @user_details.id}, :confirm => "Are you sure you want to delete user #{h @user_details.name}" %></div>
<% end %>

<div class="user-profile">
  
  <div class="user-overview">
   <%= link_to image_tag(gravatar_img(@user_details.email,@user_details.level), :alt => ""), :action => 'gravatar' %>
  <h2><%= h @user_details.name %></h2>
  <em>Super user</em>
  </div><!-- .user-overview -->
  
  <ul>
    <li><strong>Homepage</strong>http:</li>
    <li><strong>Homepage</strong>http:</li>
    <li><strong>Homepage</strong>http:</li>
  </ul>
  
</div><!-- .user-profile -->
