<h4>Formatting Guide</h4>
<p>Use the following syntax to format your text:</p>
<table cellspacing="0" cellpadding="0">
  <tr>
    <th class="l">Write this</th>
    <th class="l">See this</th>
  </tr>              
  <tr>
    <td>*Bold*</td>
    <td><strong>Bold</strong></td>
  </tr>
  <tr>
    <td>_Italic_</td>
    <td><em>Italic</em></td>
  </tr>
  <tr>
    <td>&lt;code&gt;Variable&lt;/code&gt;</td>
    <td><code>Variable</code></td>
  </tr>
  <tr>
    <td>&lt;code&gt;&lt;pre&gt;<br />&nbsp;&nbsp;Code Snippet<br />&lt;/pre&gt;&lt;/code&gt;</td>
    <td><code><pre>Code Snippet</pre></code></td>
  </tr>
</table>