<% title @category.title %>

<% crumb "Home", index_url %>
<% crumb @category.forum.title, forum_url(@category.forum) %>
<% crumb @category.title, category_url(@category), :class => 'active' %>


<div class="col-12">
  <% if @user %>
      <p><%= link_to image_tag("/images/forums/btn-createanewtopic.gif"), new_category_post_url(@category) %></p>
 <!-- <img src="../images/forums/btn-newtopic.gif" width="144" height="32" alt="Btn Newtopic" /> -->
  <% end %>
  
 
  <table class="table-of-threads">
    <tr> 
      <th width="70%">Title</th>
      <th width="5%">Replies</th>
      <th width="35%">Last Post</th>
    </tr>
    <% @topics.each do |topic| %>
      <%= render :partial => '/posts/topic', :object => topic %>
    <% end %>
  </table>
  
  <div id="page-nav" class='clear'>
    <%= pagination_links(@topic_pages) if @topic_pages.length > 1 %>
  </div>

   
</div><!-- .col-12-->

