<% title "Lost your password?" %>

<div class="account">
  <%= form_remote_tag :url => (accounts_url(:action => 'password_recovery')) %>
  <dl style="margin: 15px 0">
    <dt>
      <label for="user_email">Please give us your email address</label>
      <span class="hint"></span>
    </dt>
    <dd><%= text_field 'user', 'email' %></dd>
  </dl>
  <input name="submit" type="submit" value="Send" /> or <%= link_to 'Cancel', index_url %>
  </form>
</div>